@model IEnumerable<Ngrok.ApiClient.Tunnel>;

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


        <h2>Ngrok:</h2>
        <table>
            <tr>
                <td><b>Tunnel Name</b></td>
                <td><b>Public Url</b></td>
            </tr>
            @foreach (var tunnel in Model)
            {
                <tr>
                    <td>
                        @Html.Raw(tunnel.Name)
                    </td>
                    <td>
                        <a target="_blank" href="@Html.Raw(tunnel.PublicURL)">@Html.Raw(tunnel.PublicURL)</a>
                    </td>
                </tr>
            }
        </table>
    </div>
